@font-face {
    font-family: 'FontsFree-Net-Lulo-Clean-W01-One-Bold';
    src: url('/assets/webcontest/fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'leelawdb (1)';
    src: url('/assets/webcontest/fonts/leelawdb (1).ttf') format('truetype');
}

@font-face {
    font-family: 'Lulo Clean One';
    src: url('/assets/webcontest/fonts/Lulo Clean One.otf') format('opentype');
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('/assets/webcontest/fonts/MyriadPro-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'NirmalaS';
    src: url('/assets/webcontest/fonts/NirmalaS.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('/assets/webcontest/fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('/assets/webcontest/fonts/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Stellar-Bold';
    src: url('/assets/webcontest/fonts/Stellar-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Stellar-light';
    src: url('/assets/webcontest/fonts/Stellar-light.otf') format('opentype');
}

@font-face {
    font-family: 'Stellar-Medium';
    src: url('/assets/webcontest/fonts/Stellar-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Stellar-Regular';
    src: url('/assets/webcontest/fonts/Stellar-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'symbol';
    src: url('/assets/webcontest/fonts/symbol.ttf') format('truetype');
}

@font-face {
    font-family: 'TruenoRg';
    src: url('/assets/webcontest/fonts/TruenoRg.otf') format('opentype');
}
