/*
 * Grid Special
 */

.container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container.fluid {
    max-width: 100%;
}

.column,
.columns {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.small-0 {
    width: 0%;
    overflow: hidden;
}

.small-1 {
    width: 8.33333%;
    overflow: hidden;
}

.small-2 {
    width: 16.66667%;
    overflow: hidden;
}

.small-3 {
    width: 25%;
    overflow: hidden;
}

.small-4 {
    width: 33.33333%;
    overflow: hidden;
}

.small-5 {
    width: 41.66667%;
    overflow: hidden;
}

.small-6 {
    width: 50%;
    overflow: hidden;
}

.small-7 {
    width: 58.33333%;
    overflow: hidden;
}

.small-8 {
    width: 66.66667%;
    overflow: hidden;
}

.small-9 {
    width: 75%;
    overflow: hidden;
}

.small-10 {
    width: 83.33333%;
    overflow: hidden;
}

.small-11 {
    width: 91.66667%;
    overflow: hidden;
}

.small-12 {
    width: 100%;
    overflow: hidden;
}

.small-offset-0 {
    margin-left: 0%;
    overflow: hidden;
}

.small-offset-1 {
    margin-left: 8.33333%;
    overflow: hidden;
}

.small-offset-2 {
    margin-left: 16.66667%;
    overflow: hidden;
}

.small-offset-3 {
    margin-left: 25%;
    overflow: hidden;
}

.small-offset-4 {
    margin-left: 33.33333%;
    overflow: hidden;
}

.small-offset-5 {
    margin-left: 41.66667%;
    overflow: hidden;
}

.small-offset-6 {
    margin-left: 50%;
    overflow: hidden;
}

.small-offset-7 {
    margin-left: 58.33333%;
    overflow: hidden;
}

.small-offset-8 {
    margin-left: 66.66667%;
    overflow: hidden;
}

.small-offset-9 {
    margin-left: 75%;
    overflow: hidden;
}

.small-offset-10 {
    margin-left: 83.33333%;
    overflow: hidden;
}

.small-offset-11 {
    margin-left: 91.66667%;
    overflow: hidden;
}

@media ( min-width: 640px) {
    .container {
        max-width: 600px;
    }
    .medium-0 {
        width: 0%;
    }
    .medium-1 {
        width: 8.33333%;
    }
    .medium-2 {
        width: 16.66667%;
    }
    .medium-3 {
        width: 25%;
    }
    .medium-4 {
        width: 33.33333%;
    }
    .medium-5 {
        width: 41.66667%;
    }
    .medium-6 {
        width: 50%;
    }
    .medium-7 {
        width: 58.33333%;
    }
    .medium-8 {
        width: 66.66667%;
    }
    .medium-9 {
        width: 75%;
    }
    .medium-10 {
        width: 83.33333%;
    }
    .medium-11 {
        width: 91.66667%;
    }
    .medium-12 {
        width: 100%;
    }
    .medium-offset-0 {
        margin-left: 0%;
    }
    .medium-offset-1 {
        margin-left: 8.33333%;
    }
    .medium-offset-2 {
        margin-left: 16.66667%;
    }
    .medium-offset-3 {
        margin-left: 25%;
    }
    .medium-offset-4 {
        margin-left: 33.33333%;
    }
    .medium-offset-5 {
        margin-left: 41.66667%;
    }
    .medium-offset-6 {
        margin-left: 50%;
    }
    .medium-offset-7 {
        margin-left: 58.33333%;
    }
    .medium-offset-8 {
        margin-left: 66.66667%;
    }
    .medium-offset-9 {
        margin-left: 75%;
    }
    .medium-offset-10 {
        margin-left: 83.33333%;
    }
    .medium-offset-11 {
        margin-left: 91.66667%;
    }
}

@media ( min-width: 1040px) {
    .container {
        max-width: 1000px;
    }
    .large-0 {
        width: 0%;
    }
    .large-1 {
        width: 8.33333%;
    }
    .large-2 {
        width: 16.66667%;
    }
    .large-3 {
        width: 25%;
    }
    .large-4 {
        width: 33.33333%;
    }
    .large-5 {
        width: 41.66667%;
    }
    .large-6 {
        width: 50%;
    }
    .large-7 {
        width: 58.33333%;
    }
    .large-8 {
        width: 66.66667%;
    }
    .large-9 {
        width: 75%;
    }
    .large-10 {
        width: 83.33333%;
    }
    .large-11 {
        width: 91.66667%;
    }
    .large-12 {
        width: 100%;
    }
    .large-offset-0 {
        margin-left: 0%;
    }
    .large-offset-1 {
        margin-left: 8.33333%;
    }
    .large-offset-2 {
        margin-left: 16.66667%;
    }
    .large-offset-3 {
        margin-left: 25%;
    }
    .large-offset-4 {
        margin-left: 33.33333%;
    }
    .large-offset-5 {
        margin-left: 41.66667%;
    }
    .large-offset-6 {
        margin-left: 50%;
    }
    .large-offset-7 {
        margin-left: 58.33333%;
    }
    .large-offset-8 {
        margin-left: 66.66667%;
    }
    .large-offset-9 {
        margin-left: 75%;
    }
    .large-offset-10 {
        margin-left: 83.33333%;
    }
    .large-offset-11 {
        margin-left: 91.66667%;
    }
}

@media ( min-width: 1480px) {
    .container {
        max-width: 1440px;
    }
    .xlarge-0 {
        width: 0%;
    }
    .xlarge-1 {
        width: 8.33333%;
    }
    .xlarge-2 {
        width: 16.66667%;
    }
    .xlarge-3 {
        width: 25%;
    }
    .xlarge-4 {
        width: 33.33333%;
    }
    .xlarge-5 {
        width: 41.66667%;
    }
    .xlarge-6 {
        width: 50%;
    }
    .xlarge-7 {
        width: 58.33333%;
    }
    .xlarge-8 {
        width: 66.66667%;
    }
    .xlarge-9 {
        width: 75%;
    }
    .xlarge-10 {
        width: 83.33333%;
    }
    .xlarge-11 {
        width: 91.66667%;
    }
    .xlarge-12 {
        width: 100%;
    }
    .xlarge-offset-0 {
        margin-left: 0%;
    }
    .xlarge-offset-1 {
        margin-left: 8.33333%;
    }
    .xlarge-offset-2 {
        margin-left: 16.66667%;
    }
    .xlarge-offset-3 {
        margin-left: 25%;
    }
    .xlarge-offset-4 {
        margin-left: 33.33333%;
    }
    .xlarge-offset-5 {
        margin-left: 41.66667%;
    }
    .xlarge-offset-6 {
        margin-left: 50%;
    }
    .xlarge-offset-7 {
        margin-left: 58.33333%;
    }
    .xlarge-offset-8 {
        margin-left: 66.66667%;
    }
    .xlarge-offset-9 {
        margin-left: 75%;
    }
    .xlarge-offset-10 {
        margin-left: 83.33333%;
    }
    .xlarge-offset-11 {
        margin-left: 91.66667%;
    }
}


/* Self Clearing Goodness */

.container:after,
.row:after {
    content: "";
    display: table;
    clear: both;
}

section {
    padding: 0px 0 25px 0;
    background: #fff;
}


/* Heading */

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h1,
h2,
h3 {
    margin: 0px;
}


/* Width and Height */

.width20 {
    width: 20%;
}

.width72 {
    width: 72%;
}

.width90 {
    width: 90%;
}

.width130 {
    width: 130px;
}

.height150 {
    height: 150px;
}


/* Padding values */

.p0 {
    padding: 0;
}

.p25 {
    padding: 25px;
}

.p35 {
    padding: 35px;
}

.pl15 {
    padding-left: 15px;
}

.pr15 {
    padding-right: 15px;
}

.plr45 {
    padding-left: 45px;
    padding-right: 45px;
}

.p-t5 {
    padding-top: 5px
}

.p-t10 {
    padding-top: 10px
}

.p-t15 {
    padding-top: 15px
}

.pt-35 {
    padding-top: 35px;
}

.pt-150 {
    padding-top: 150px;
}

.pt-30 {
    padding-top: 30vh;
}

/* Margin values */

.m-auto {
    margin: 0 auto;
}

.m-t0 {
    margin-top: 0px;
}

.m-b0 {
    margin-bottom: 0px;
}

.m-t1 {
    margin-top: 1rem;
}

.m-t2 {
    margin-top: 2rem;
}

.m-t3 {
    margin-top: 3rem;
}

.m-t4 {
    margin-top: 4rem;
}

.m-t5 {
    margin-top: 5rem;
}

.m-b1 {
    margin-bottom: 1rem;
}

.m-b2 {
    margin-bottom: 2rem;
}

.m-b3 {
    margin-bottom: 3rem;
}

.m-b4 {
    margin-bottom: 4rem;
}

.m-b5 {
    margin-bottom: 5rem;
}

.m-l1 {
    margin-left: 1rem;
}

.m-l2 {
    margin-left: 1rem;
}

.m-l3 {
    margin-left: 1rem;
}

.m-l4 {
    margin-left: 1rem;
}

.m-l5 {
    margin-left: 1rem;
}

.m-r1 {
    margin-right: 1rem;
}

.m-r2 {
    margin-right: 1rem;
}

.m-r3 {
    margin-right: 1rem;
}

.m-r4 {
    margin-right: 1rem;
}

.m-r5 {
    margin-right: 1rem;
}

.m-tb1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.m-tb2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.m-tb3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.m-tb4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.m-tb5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}


/* Colors */

.text-white {
    color: #ffffff;
}

.text-black {
    color: #000000;
}

.text-pink {
    color: #eb0e6e
}

.bg-pink {
    background-color: #eb0e6e;
}

.bg-darkpink {
    background-color: #74174c;
}


/* Align Text */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.align-center {
    align-items: center;
}


/* text transformation */

.text-capitalize {
    text-transform: capitalize;
}

.text-uppearcase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}


/* different font family pack*/

.font-bold {
    font-family: 'LeelaUIb';
}


/* different font weights */

.font-weight100 {
    font-weight: 100;
}

.font-weight200 {
    font-weight: 200;
}

.font-weight300 {
    font-weight: 300;
}

.font-weight400 {
    font-weight: 400;
}

.font-weight500 {
    font-weight: 500;
}

.font-weight-blod {
    font-weight: bold;
}

.font-weight-bolder {
    font-weight: bolder;
}

.font-weight-lighter {
    font-weight: lighter;
}

.font-weight600 {
    font-weight: 600;
}


/* different font size */

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 18px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-22 {
    font-size: 22px;
}

.font-24 {
    font-size: 24px;
}

.font-26 {
    font-size: 26px;
}

.font-28 {
    font-size: 28px;
}

.font-30 {
    font-size: 30px;
}

.font-32 {
    font-size: 32px;
}

.font-34 {
    font-size: 34px;
}

.font-36 {
    font-size: 36px;
}


/* display none */

.d-none {
    display: none;
}

.d-xlarge-none {
    display: none;
}

.d-large-none {
    display: none;
}

.d-medium-none {
    display: none;
}

.d-small-none {
    display: none;
}


/* display block */

.d-block {
    display: block
}

.d-xlarge-block {
    display: block
}

.d-large-block {
    display: block
}

.d-medium-block {
    display: block
}

.d-small-block {
    display: block
}

.border-radius {
    border-radius: 10px;
}


/* scrollbar tags */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 5px #c7216b;
    background: #e69dbf;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}


/* Heading tags */

.text-heading {
    font-size: 18px;
    text-shadow: 0px 0px 1px #eb0e6e;
    position: relative;
    margin-bottom: 6px;
}

.section-heading {
    font-family: 'Leelawadee-Bold';
}

.section-heading h2 {
    margin: 5px 0 10px 0;
}


/**
 * Owl Carousel v2.1.1
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */

.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
    display: none
}

.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

.no-js .owl-carousel {
    display: block
}

.owl-carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.owl-height {
    transition: height .5s ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease
}

.owl-carousel .owl-item img.owl-lazy {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: -webkit-transform .1s ease;
    transition: transform .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
    -webkit-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent
}

.owl-theme .owl-controls .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #d6d6d6;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background: #869791;
    color: #fff;
    text-decoration: none
}

.owl-theme .owl-controls .owl-nav .disabled {
    opacity: .5;
    cursor: default
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #869791
}
