/* form runner */
/*.fixed-top.static {
    position: static;
    padding: 0;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
.modal#video-modal {
    margin-top: 105px !important;
    z-index: 1032;
    top: -3px;
}
.CityList {
    margin: 36px auto 0px;
}
.banner {
    padding-top: 13px;
    padding-bottom: 50px;
}*/
.homepage-wrap .banner {
    padding-top: 100px;
    padding-bottom: 50px;
}

.nav-item a {
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.box-shadow .nav-item a {
    font-size: 14px;
    transition: all .9s ease;
    -webkit-transition: all .9s ease;
}

.navbar-brand {
    transition: all .9s ease;
    -webkit-transition: all .9s ease;
}

.box-shadow .navbar-brand {
    width: 20%;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: all .9s ease;
    -webkit-transition: all .9s ease;
}

.navbar .navbar-brand img {
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.box-shadow .navbar .navbar-brand img {
    padding: 5px 0;
    transition: all .9s ease;
    -webkit-transition: all .9s ease;
}

.ModelvideoAlign .modal#video-modal {
    z-index: 1032;
    margin-top: 75px !important;
}

.homepage-wrap .banner h1 {
    margin-top: 0px;
}

/*.modal .modal-close {
    top: 2.9rem;
}*/

.Sliderbg {
    margin: 0px auto 20px 0;
    text-align: center;
}

.Sliderbg .owl-carousel button.owl-dot {
    border: 1.5px solid #cacaca;
    width: 20px;
    /* height: 5px; */
    margin: 0 3px;
}

.Sliderbg .owl-carousel button.owl-dot.active {
    border: 1.5px solid #f2006c;
}

.Sliderbg .owl-carousel.Slider_banner .owl-nav .owl-prev span,
.Sliderbg .owl-carousel.Slider_banner .owl-nav .owl-next span {
    position: relative;
    top: -12px;
}

.Sliderbg .owl-carousel.Slider_banner .owl-nav .owl-next {
    float: right;
    position: absolute;
    right: 0;
    top: -135px;
}

.Sliderbg .owl-carousel.Slider_banner .owl-nav .owl-prev {
    float: left;
    position: absolute;
    left: 0;
    top: -135px;
}

.Sliderbg .owl-carousel .owl-nav .owl-prev span,
.Sliderbg .owl-carousel .owl-nav .owl-next span {
    font-size: 30px;
    color: deeppink;
}

.Sliderbg .owl-carousel .owl-nav .owl-prev,
.Sliderbg .owl-carousel .owl-nav .owl-next {
    height: 25px;
    width: 25px;
    background: #ffffff9e;
    padding: 10px;
}

.Sliderbg .owl-carousel .owl-nav {
    position: relative;
    top: 35%;
    width: 100%;
}

#Sliderbg {
    visibility: hidden;
}

/* Banner */
#ImpBanner {
    background: #000;
    padding: 20px 0 40px;
}
#ImpBanner p {
    color: #fff;
    text-align: justify;
    font-size: 20px;
}
.ImpBannerContent {
    padding: 5px 35px;
}
#empty_slider {
    padding: 20px 0 !important;
}

/* For Property Details */
.spanImg {
    height: 90px;
    width: 60px;
    margin: 0 auto;
    margin-bottom: 0px !important;
}
.spanbedImgsrc {
    background-image: url(/assets/images/homepage/HomePage-V2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -28px;
    height: 100%;
}
.spanProperitesImg {
    background-image: url(/assets/images/homepage/HomePage-V2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -101px;
    height: 100%;
}
.spanManagementImg {
    background-image: url(/assets/images/homepage/HomePage-V2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -175px;
    height: 100%;
}
.spanCitiesImg {
    background-image: url(/assets/images/homepage/HomePage-V2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -320px;
    height: 100%;
}
.spanOccupancyImg {
    background-image: url(/assets/images/homepage/HomePage-V2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -394px;
    height: 100%;
}
.spanRealestateImg {
    background-image: url(/assets/images/homepage/HomePage-V2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -466px;
    height: 100%;
}

/* Our 6's Section */
#OurFeatures-owl {
    position: relative;
}
#OurFeatures-owl .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 3%;
    margin: 0 auto;
    text-align: center;
}
#OurFeatures-owl .owl-dot.active {
    background: #ef0073 !important;
}

#OurFeatures-owl.owl-carousel .owl-nav button.owl-next,
#OurFeatures-owl.owl-carousel .owl-nav button.owl-prev,
#OurFeatures-owl.owl-carousel button.owl-dot {
    background: #ffffff7d;
    color: #222;
    border: 2px solid #fff;
    padding: 0 !important;
    font: inherit;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin: 0 2px;
}

#OurFeatures-owl img {
    width: unset !important;
    max-width: unset !important;
}

#Blog_Align {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.RightOurSection {
    padding: 0px 0px 0px 50px;
    width: 100%;
}

.Heading_blog {
    color: #112950;
    font-size: 62px;
    font-weight: 700;
    line-height: 70px;
}

.TabAlignSec {
    display: flex;
    align-items: center;
    padding-left: 0px;
    margin-top:2rem;
}

.TabSecExplore {
    margin: 1.5rem 0 3rem;
}

.TabExploreBtn {
    background: #112950;
    color: #fff;
    padding: 10px 42px;
    cursor: pointer;
    border: 2px solid #112950;
    font-size: 16px;
    font-weight: 600;
}

    .TabExploreBtn:hover {
        color: #112950;
        border-color: #112950 !important;
        background: transparent;
    }

.TabViewText {
    padding-top: 14px !important;
    border-top: 2px solid #f82785;
    font-size: 15px !important;
    line-height: 1.5;
    font-weight: 600;
}

.TabAlignImg {
    background: url(/assets/images/homepage/ourfeatures/ourfeatureicon.png);
    height: 72px;
    width: 72px;
    margin: 0 auto;
}

.TabSecTitle {
    font-size: 32px;
    padding-left: 4px;
    font-weight: 700;
    color: #f82785;
}

.Modern-Furnishing_Icon {
    background-position: -558px -125px;
    background-size: 838px;
}

.Modern-Storage-Space_Icon {
    background-position: -558px -42px;
    background-size: 838px;
}

.StyleTabAlign {
    background-position: -329px 111px;
    background-size: 728px;
}

.Self_Cooking_Icon {
    background-position: -138px -40px;
    background-size: 838px;
}

.SafetyTabAlign {
    background-position: -43px 111px;
    background-size: 728px;
}
.Emergency_Response_Team_Icon {
    background-position: -305px -125px;
    background-size: 838px;
}

.CCTV_Video_Surveillance_Icon {
    background-position: -141px -214px;
    background-size: 838px;
}

.Facial_Recognition_Based_Key_Management_Icon {
    background-position: -56px -214px;
    background-size: 838px;
}

.ServiceTabAlign {
    background-position: -116px 111px;
    background-size: 728px;
}

.Professional_House_Keeping_Icon {
    background-position: -188px 195px;
    background-size: 728px;
}

.Power_Backup_Icon {
    background-position: -65px 425px;
    background-size: 920px;
}

.Maintenance_Support_Icon {
    background-position: -260px 195px;
    background-size: 728px;
}

.SavingsTabAlign {
    background-position: -257px 111px;
    background-size: 728px;
}

.Affordable_Rentals_Icon {
    background-position: -629px 195px;
    background-size: 728px;
}

.Pay_Deposit_Installments_Icon {
    background-position: -331px 195px;
    background-size: 728px;
}

.Digital_Door_Lock_Icon {
    background-position: -244px 425px;
    background-size: 920px;
}

.SmartTabAlign {
    background-position: -405px 111px;
    background-size: 728px;
}

.High_Speed_Internet_Icon {
    background-position: -404px 195px;
    background-size: 728px;
}

.Co_Working_Space_Icon {
    background-position: -481px 195px;
    background-size: 728px;
}

.SocialTabAlign {
    background-position: -186px 111px;
    background-size: 728px;
}

.Cinema_Room_Icon {
    background-position: -338px 425px;
    background-size: 920px;
}

.Fitness_Room_Icon {
    background-position: -713px 425px;
    background-size: 920px;
}

.Community_Kitchen_Icon {
    background-position: -428px 425px;
    background-size: 920px;
}

.Events_Celebrations_Icon {
    background-position: -522px 425px;
    background-size: 920px;
}

.location .location-wrap .row {
    margin: 0;
}

ul.TestimonialSocialULList {
    list-style-type: none;
}

.TestimonialSocialULList a {
    width: 55px;
    height: 55px;
    border: 3px solid #ef0073;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TestimonialSocialULList a:before {
    font-size: 28px;
    color: #ef0073;
}

ul.TestimonialSocialULList {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    margin: 3rem auto 0 0;
    border-bottom: 2px solid #ef0073;
    padding-bottom: 8px;
}

.TestimonialSocialULList li {
    /* width: 16%; */
    padding: 10px 12px 10px;
}

.TestimonialRightSec #carousel-comment {
    padding: 0px;
    background: transparent;
    background-color: transparent;
}

.FindSomeSocialCommunites {
    font-size: 20px;
    padding: 12px 5px;
    font-weight: 500;
}

.TestimonialSocialULList a:hover {
    background: #ef0073;
}

.TestimonialSocialULList a:hover:before {
    color: #fff;
}

.TestimonialSocialULList li:first-child {
    padding-left: 0px;
}

.TestimonialLeftContain {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 5rem;
}

.TestimonialRightSec {
    background-color: transparent !important;
}

.TestimonialRightSec .carouesl-wrap {
    background-color: transparent;
    opacity: 1;
}

.TestimonialRightSec .testimonial_image img {
    margin: 0 auto;
    background: #fff;
    padding: 20px;
}

.TestimonialRightSec .owl-nav {
    background: transparent !important;
    padding: 0px;
}

.OccuPencyImg {
    background: url('/assets/images/homepage/pinklines.png');
}

.SinglePositions {
    width: 70px;
    height: 42px;
    background-size: cover !important;
    background-position: -6px !important;
}

.SharedPositions {
    width: 74px;
    height: 42px;
    background-size: cover !important;
    background-position: -93px !important;
}

.CouplePositions {
    width: 70px;
    height: 42px;
    background-size: cover !important;
    background-position: 79px !important;
}

.homepage-wrap .tab-layout .nav-tabs a.active .OccuPencyImg {
    background: url('/assets/images/homepage/whitelines.png');
}

/*****/
.PropImageTitleOverlay {
    position: absolute;
    bottom: 0;
    background: linear-gradient(#ffffff00 4%, #ffffffb0 47%, #fff 65%);
    width: 100%;
    min-height: 150px;
    display: flex;
    align-items: flex-end;
}

.PropOverlayTextalyer {
    padding-left: 8px;
    width: 100%;
}

.ProbCardsDetailsSec .card-body {
    padding: 10px 10px;
}

    .ProbCardsDetailsSec .card-body .row.mt-2.malign_style {
        margin-top: 0px !important;
    }

.homepage-wrap .TextAlignJustfy .price {
    flex-direction: row;
    display: flex;
    margin: 5px 0 0;
}

.homepage-wrap h5.card-title + .row {
    margin: 8px 0px 0px 0px;
}

.homepage-wrap .homepage-card .tab-pane .card-carousel .owl-carousel .owl-nav {
    position: absolute;
    top: -59px;
    right: 18px;
}

.homepage-wrap .product-wrap .third-section .owl-carousel-cards .owl-nav .owl-prev {
    border-radius: 5px;
    margin: 0 5px !important;
}

.homepage-wrap .product-wrap .third-section .owl-carousel-cards .owl-nav .owl-next, .homepage-wrap .product-wrap .third-section .owl-carousel-cards .owl-nav .owl-prev {
    padding: 4px 18px 0px !important;
    border: 1px solid #ef0073;
    color: #fff;
    background: #ef0073;
    font-size: 25px;
    float: none;
    top: unset !important;
    right: unset !important;
    position: relative;
}


.homepage-wrap .product-wrap .third-section .owl-carousel-cards .owl-nav .owl-next {
    border-radius: 5px;
    margin: 0 5px;
}

.homepage-wrap .product-wrap .third-section .owl-carousel-cards .owl-nav .owl-prev {
    border-radius: 5px;
    margin: 0 5px;
}

.homepage-wrap .product-wrap .third-section .owl-carousel-cards .owl-nav .owl-next span,
.homepage-wrap .product-wrap .third-section .owl-carousel-cards .owl-nav .owl-prev span {
    font-size: 42px;
    line-height: 0;
}

/*13032020*/
.TopHeaderTiltleText {
    font-size: 24px;
    font-weight: 800;
}
.ColiveTitleDesc {
    background: #000;
    padding: 25px 0;
}
.HomepageTabcolor {
    text-align: center;
    color: #fff;
}
.HomepageTabcolor h2 {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 600;
}

/* Footer Menu Design */
#footer .panel.with-nav-tabs .panel-heading {
    padding: 5px 0px 0 0px;
}

#footer .panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
    background: #ececec;
}

#footer .panel.with-nav-tabs .nav-justified {
    margin-bottom: -1px;
}
#footer .panel.with-nav-tabs .nav-tabs li.active {
    background: #ef0073;
}

#footer .panel.with-nav-tabs .nav-tabs li {
    text-align: center;
    padding: 16px 0px;
}

#footer a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
}
.copyright {
    color: #324b72;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    padding: 25px 0px 15px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
#footer .with-nav-tabs.panel-default .nav-tabs > li > a,
#footer .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
#footer .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #112950;
    font-weight: 500;
}

#footer .with-nav-tabs.panel-default .nav-tabs > .open > a,
#footer .with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
#footer .with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
#footer .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
#footer .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #fff;
}

#footer .with-nav-tabs.panel-default .nav-tabs > li:hover,
#footer .with-nav-tabs.panel-default .nav-tabs > li:focus {
    background: #ef0073;
    color: #fff;
    cursor: pointer;
}

#footer .with-nav-tabs.panel-default .nav-tabs > li:hover a,
#footer .with-nav-tabs.panel-default .nav-tabs > li:focus a {
    color: #fff;
}

#footer .with-nav-tabs.panel-default .nav-tabs > li.active > a,
#footer .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
#footer .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #fff;
}

#footer .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}

#footer .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #112950;
    font-weight: 500;
}

#footer .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li:hover,
#footer .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li:focus {
    background-color: #ef0073;
}

#footer .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li:hover a,
#footer .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li:focus a {
    color: #fff;
}

#footer .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
#footer .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
#footer .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: transparent;
}

.footerPanel-SecondRow {
    padding: 5px 0 15px;
    background: #222;
}

#footer .NewFooter_Align {
    text-align: center;
}

.Panel-Third-row li {
    padding: 12px 15px !important;
    border: 2px solid #ef0073;
    margin: 5px auto;
    border-radius: 5px;
}

.Panel-Third-row li a {
    color: #ef0073 !important;
}

.Panel-Third-row ul {
    padding: 20px 0px 20px;
}

.Panel-Third-row li:hover {
    background: #ef0073;
    cursor: pointer
}

.Panel-Third-row li:hover a {
    color: #fff !important;
}
/* Media query for different displays*/
@media (max-width: 425px) {
    .homepage-wrap .tab-content button {
        margin: 0px auto 10px !important;
    }
    .homepage-wrap .feature-wrap .nav-tabs {
        border-bottom: none !important;
    }
}

@media (max-width: 500px) {
    .homepage-wrap .homepage-wrap .tab-layout .tab-content .tab-pane {
        padding: 0 15px;
    }
}

@media (max-width: 767px) {
    /* for runner*/
    /*.modal#video-modal {
        margin-top: 110px !important;
        z-index: 1032;
        top: 0px;
    }
    .banner {
        padding-top: 0px;
        padding-bottom: 50px;
    }*/
    #MobContainer1 {
        top: 80px; /*140px; 118px; this value if news runner came then we replace this value */
        background-color: #ef0073;
    }
    .homepage-wrap .search-container h1 {
        color: white;
        line-height: 35px;
        font-size: 22px !important;
        padding: 3% 0;
    }

    .topSliderImage.container {
        padding: 0;
    }

    .homepage-wrap .search-container {
        padding: 6%;
        margin: 0;
        background-image: url(/assets/images/mobileview-min.jpg);
    }

    .Sliderbg {
        margin: 0px auto 0px 0;
    }

    .banner {
        padding-top: 78px !important;
        padding-bottom: 50px !important;
    }
    .Sliderbg .owl-carousel.Slider_banner .owl-nav .owl-prev {
        float: left;
        position: absolute;
        left: 0;
        top: -131px;
    }
    .Sliderbg .owl-carousel.Slider_banner .owl-nav .owl-next {
        float: right;
        position: absolute;
        right: 0;
        top: -131px;
    }

    .RightOurSection {
        padding: 0px 0px 0px 0px;
    }
    .Heading_blog {
        font-size: 42px;
        line-height: 1;
        margin-top: 1rem;
    }
    .TabAlignSec {
        margin-top: 2rem;
    }
    .homepage-wrap .features .feature-wrap li {
        min-width: auto;
        padding: 0px !important;
    }
    .homepage-wrap .features .feature-wrap li a {
        color: white;
        padding: 7px 7px;
    }
    .TabSecExplore {
        margin: 1.5rem 0px 4rem;
    }
    .m-hide {
        display:none;
    }
    .TestimonialSocialULList li {
        padding: 10px 7px 10px;
    }
    .TestimonialSocialULList a {
        width: 36px;
        height: 36px;
        border: 2px solid #ef0073;
    }
    .TestimonialSocialULList a:before {
        font-size: 18px;
    }
    .TestimonialLeftContain {
        padding-left: 15px;
    }
    .homepage-wrap .members .member-wrap .col-md-5 {
        height: auto;
        margin: 0px;
    }
    .homepage-wrap .homepage-card .tab-pane .card-carousel .owl-carousel .owl-nav {
        position: absolute;
        top: 0px;
        right: 29px;
        left: unset !important;
    }
    .homepage-wrap .homepage-card .tab-pane .card-carousel .item {
        padding: 15px;
        margin-top: 3rem;
    }

    .homepage-wrap .homepage-card .card-carousel .owl-carousel h5,
    .homepage-wrap .homepage-card .card-carousel .owl-carousel h5,
    .homepage-wrap .homepage-card .card-carousel .owl-carousel h5 {
        font-size: 14px;
        margin: 10px 0 4px;
    }

    .product-wrap .third-section .owl-carousel-cards .owl-nav {
        left: 0;
        right: 0;
        top: 45%;
    }

    .homepage-wrap .tab-layout .nav-tabs li {
        border: 1px solid #e0e0e0ee;
    }

    .homepage-wrap .homepage-card {
        padding: 0 0 0px 0px;
    }

    .homepage-wrap .tab-layout.pb-0.m-0 {
        padding-top: 0px;
    }

    .PropCardsImageSec {
        padding: 0 15px;
        align-items: center;
        justify-content: center;
    }

    .PropertyViewDesign .property {
        font-size: 12px !important;
    }

    .scheduleFreeVissit .property {
        font-size: 12px !important;
    }

    .homepage-wrap .product-wrap .third-section .owl-carousel-cards .owl-nav .owl-next,
    .homepage-wrap .product-wrap .third-section .owl-carousel-cards .owl-nav .owl-prev {
        padding: 11px 14px 0px !important;
        font-size: 17px;
    }

    .PropImageTitleOverlay {
        background: linear-gradient(#ffffff00, #ffffffb0 30%, #fff 56%) !important;
    }

    .homepage-wrap .homepage-card .card-carousel .propertyBanner {
        /*min-height: auto;
        width: auto;*/
    }
    #empty_slider {
        padding: 0px 0 25px !important;
    }
    #ImpBanner {
        margin-bottom: 25px;
    }
    #ImpBanner p {
        font-size: 16px;
    }
    #ImpBanner p.secondpclass {
        font-size: 16px;
        text-indent: 45px !important;
    }
    .ImpBannerContent {
        padding: 5px 15px;
    }
    /* 10042020 */
    .Panel-Third-row li {
        min-height: 50px;
        min-width: 40% !important;
        max-width: 48%;
    }
    .Panel-Third-row li {
        padding: 12px 4px !important;
    }
    #footer a {
        font-size: 15px;
    }
}
@media (max-width: 320px) {
    .homepage-wrap .features .feature-wrap li a {
        padding: 7px 0px;
    }
    .homepage-wrap .features .feature-wrap {
        width: 100%;
        overflow-y: auto;
    }
    .homepage-wrap .members h2 {
        font-size: 28px;
        line-height: 38px;
    }

}
@media (max-width: 1024px) {
    .col.col-lg-2 {
        padding: 0px 0px !important;
    }
    .Heading_blog {
        font-size: 44px;
        line-height: 52px;
    }
}

@media (max-width: 768px) {
    .homepage-wrap .members h2 {
        font-size: 32px;
        line-height: 42px;
    }
    .homepage-wrap .colive-info {
        padding: 10px 15px !important;
    }
    .RightOurSection {
        padding: 0px 0px 0px 0px;
    }
    .Heading_blog {
        font-size: 36px;
        line-height: 40px;
    }
    .TestimonialLeftContain {
        padding-left: 2rem;
    }
}

@media (max-width: 1300px) and (min-width: 1200px) {
    .Heading_blog {
        font-size: 52px;
        line-height: 54px;
    }
    .TabSecExplore {
        margin: 1.5rem 0 2rem;
    }
}