<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="conCoLive" providerName="System.Data.SqlClient" connectionString="Data Source=13.235.15.90;Initial Catalog=staging_colive;uid=colivestaging;password=Colive@247;" />
  </connectionStrings>
  <appSettings>
    <add key="websiteURL" value="http://localhost:51886/" />
    <add key="publishPath" value="C:\colife-advisory-private-limited\IIS\colive.in\Utility" />
    <!--<add key="apiBaseUrl" value="http://staging.colive.in/webservices/" />-->
    <add key="apiBaseUrl" value="http://localhost:56675/" />
    <add key="corporateURL" value="http://corporate.staging.colive.in/" />
    <!-- CCAvenue Payment Gateway-->
    <add key="CCA_URL" value="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction" />
    <add key="CCA_MerchantId" value="94346" />
    <add key="CCA_AccessCode" value="AVQT01FC54AD25TQDA" />
    <add key="CCA_WorkingKey" value="B9C85C3AD68E397E1F70CD56538582D7" />
    <add key="CCA_Domain" value="http://staging.colive.in/" />
    <add key="CCA_ResponseURL" value="http://staging.colive.in/pg/CCA/ResponseHandler.aspx" />
    <!-- PayU Payment Gateway-->
    <add key="PayU_MERCHANT_KEY" value="Nj0qSP" />
    <add key="PayU_SALT" value="Z1R0fxP0" />
    <add key="PayU_BASE_URL" value="https://test.payu.in" />
    <add key="PayU_action" value="_payment" />
    <add key="PayU_hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10" />
    <add key="PayU_ResponseURL" value="http://staging.colive.in/pg/PayU/ResponseHandler.aspx" />
    <!-- EazyPay Payment Gateway-->
    <add key="EazyPay_MID" value="3387028790" />
    <add key="EazyPay_ICID" value="119725" />
    <add key="EazyPay_AES_Key" value="1100070797205002" />
    <add key="EazyPay_PgURL" value="https://eazypayuat.icicibank.com/EazyPG" />
    <add key="EazyPay_ResponseURL" value="http://staging.colive.in/pg/EazyPay/ResponseHandler.aspx" />
    <add key="EazyPay_ResSignSequence" value="ID|Response Code|Unique Ref Number|Service Tax Amount|Processing Fee Amount|Total Amount|Transaction Amount|Transaction Date|Interchange Value|TDR|Payment Mode|SubMerchantId|ReferenceNo|TPS|aes_key" />
    <add key="IsEnableMultiplePaymentGateWay" value="1" />
    <add key="aspnet:uselegacysynchronizationcontext" value="false" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="NotificatioGoogleId" value="AAAANf_IwnA:APA91bFm_LVhTu9qFCf71j8MQTX0J-0-itIjl6vGkCoUevFRr4DgUL0KjxS4ZppigAYYTSGVBJK-DPk2Hw2YnmQLNO95Y4TfGS-cqGJpJCiAMwRgLrwoMq8JcGBfIicM4s0o2Gmxa8w7" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <customErrors mode="On" defaultRedirect="/pagenotfound" redirectMode="ResponseRedirect" />
    <!--<httpCookies httpOnlyCookies="true" requireSSL="true" />-->
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <directoryBrowse enabled="false" />
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="X-Frame-Options" value="Deny" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="Hide .html ext">
          <match url="^(.*)" ignoreCase="true" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:0}.html" />
        </rule>
        <rule name="Redirecting .html ext" stopProcessing="true">
          <match url="^(.*).html" />
          <conditions logicalGrouping="MatchAny">
            <add input="{URL}" pattern="(.*).html" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Custom">
      <clear />
      <error statusCode="404" path="/pagenotfound.html" responseMode="Redirect" />
    </httpErrors>
  </system.webServer>
  <location path="faq.html">
    <system.webServer>
      <httpRedirect enabled="false" destination="https://www.colive.in/flipbook/flipbook/index" exactDestination="true" childOnly="false" />
    </system.webServer>
  </location>
  <location path="faqmobile.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://www.colive.in/flipbook/flipbook/index" exactDestination="true" />
    </system.webServer>
  </location>
  <location path="offers.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://colive.in/bangalore/pg/offers" exactDestination="true" />
    </system.webServer>
  </location>
  <location path="cowork"></location>
</configuration>
<!--ProjectGuid: F49115E4-E27D-4080-A8FA-8239759180FF-->