@font-face {
    font-family: 'beyond-the-mountains';
    src: url('/fonts/beyond_the_mountains.ttf') format('truetype');
}

@font-face {
    font-family: 'ColiveFont_BOLD';
    src: url('/fonts/Caviar_Dreams_Bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'ColiveTagLine';
    src: url('/fonts/Black Diamonds.ttf') format('truetype');
}

body {
    margin: 0 auto;
    width: 90vw;
    font-family: ubuntu-regular,sans-serif;
    font-size: 13px;
    color: #324b72;
}
 
.box {
    text-align: center;
}

.large-textcenter {
    font-size: 15px;
    text-align: left;
    padding: 0px 10px;
}

.headertext {
    color: #bd1261;
    font-family: ColiveFont_BOLD;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    font-size: 21px;
    font-weight: bold
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

.list-type2 {
    margin: 0 auto;
    padding: 5px 21px;
}

    .list-type2 ol {
        counter-reset: li;
        list-style: none;
        *list-style: decimal;
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        padding: 0;
        margin-bottom: 4em;
        text-align: left;
    }

        .list-type2 ol ol {
            margin: 0 0 0 2em;
        }

    .list-type2 a {
        font-size: 12px;
        position: relative;
        display: block;
        padding: .4em .4em .4em 2em;
        *padding: .4em;
        margin: .5em 0;
        background: #FC756F;
        color: #444;
        text-decoration: none;
        transition: all .2s ease-in-out;
    }

    .list-type2 a {
        background: #d6d4d4;
        text-decoration: none;
        transform: scale(1);
    }

        .list-type2 a:before {
            content: counter(li);
            counter-increment: li;
            position: absolute;
            left: -1.3em;
            top: 50%;
            margin-top: -1.3em;
            background: #FC756F;
            height: 2em;
            width: 2em;
            line-height: 2em;
            border: .3em solid #fff;
            text-align: center;
            font-weight: bold;
            color: #FFF;
        }

.addOnForm {
    width: 100%;
    background: #fff;
    border: 1px solid #DBE0E4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2px 5px;
    box-sizing: border-box;
    float: left;
    margin: 10px 0px;
    background-image: url('/images/dust_scratches.png')
}

.clPayment {
    /*border: 2px solid #a59fa1;
                padding: 15px 50px 27px 50px;*/
}

.buttonCSS {
    text-align: center;
    min-width: 90px;
    padding: 10px 15px;
    font-size: 13px;
    line-height: 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    border: 0px;
    font-weight: 600;
    margin: 0px 2px;
    text-decoration: none;
}

    .buttonCSS.btn_small {
        color: #fff;
        background: #bd1261;
        min-width: 60px;
        padding: 6px 10px;
    }

ul {
    list-style: none;
    padding: 0px 10px;
    line-height: 20px;
}

.funtext {
    font-size: 14px;
    font-weight: bold
}

@media (max-width:767px) {
    .headertext {
        font-size: 17px;
    }

    .licheckinsteps {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

}
