@font-face {
    font-family: 'Stellar-Bold';
    src: url('/assets/colympics/assets/fonts/Stellar-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Stellar-light';
    src: url('/assets/colympics/assets/fonts/Stellar-light.otf') format('opentype');
}

@font-face {
    font-family: 'Stellar-Regular';
    src: url('/assets/colympics/assets/fonts/Stellar-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Stellar-Medium';
    src: url('/assets/colympics/assets/fonts/Stellar-Medium.otf') format('opentype');
}

html, body {
    font-family: 'Stellar-Regular', sans-serif;
    font-size: 14px;
    color: #000;
    padding: 0 8px 8px;
}

#colympics_home {
    background: url(/assets/colympics/assets/img/section1/mainpage.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 790px;
    background-position: center;
}

.ColympicsLogo img {
    width: 26%;
}

.ColympicsLogo {
    text-align: center;
    padding-top: 10vh;
}

.ColympicGameBegin {
    text-align: center;
    padding-top: 6vh;
}

#colympics_champion {
    background: url(/assets/colympics/assets/img/section2/Background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 45px 0 65px;
}

.ColympicGameBegin img {
    width: 41%;
}

.colympics_champion h1 {
    font-family: 'Stellar-Medium', sans-serif;
    color: #77194f;
    font-size: 64px;
    margin-bottom: 4rem;
}

.colympics_champion h2 {
    font-family: 'Stellar-Medium', sans-serif;
    color: #77194f;
    font-size: 48px;
    margin-top: 4rem;
}

.colympics_champion p {
    font-family: 'Stellar-Medium', sans-serif;
    color: #77194f;
    font-size: 24px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.btn-colympics {
    font-family: 'Stellar-Medium', sans-serif;
    background: #77194f;
    font-size: 34px;
    color: #fff;
    padding: 7px 54px 20px;
    border-radius: 0px;
    margin-top: 2rem;
}

    .btn-colympics:hover {
        color: #fff;
        text-decoration: none;
    }

.Team_Heading {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.owl-nav,
.owl-dots {
    display: none;
}

.colympics_playgames h3 {
    font-family: 'Stellar-Bold', sans-serif;
    color: #77194f;
    font-size: 66px;
    margin: 2rem 0 3rem;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    html, body {
        padding: 0;
    }

    #colympics_home {
        min-height: 250px;
    }

    .ColympicsLogo img {
        width: 40%;
    }

    .ColympicsLogo {
        padding-top: 16px;
    }

    .ColympicGameBegin {
        padding-top: 0vh;
    }

        .ColympicGameBegin img {
            width: 65%;
        }

    .colympics_champion h1 {
        font-size: 22px;
        margin-bottom: 2rem;
        font-weight: 600;
    }

    .colympics_champion h2 {
        font-size: 20px;
        margin-top: 1rem;
    }

    .colympics_champion p {
        font-size: 16px;
        margin-top: 2rem;
        padding: 0 5px;
        margin-bottom: 2rem;
    }

    .btn-colympics {
        font-size: 23px;
        padding: 5px 36px 14px !important;
        margin-top: 2rem;
    }

    .Team_Heading img {
        width: 78%;
    }

    .colympics_playgames h3 {
        font-size: 44px;
    }

    .Team_Heading {
        margin-top: 2rem;
    }
}
